<!DOCTYPE html>
<html lang="en" style="background-color: rgb(250,250,240);">

<head>
  <meta charset="utf-8">
  <title>Single Album Preview Componenet</title>
  <link rel="stylesheet" href="album.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
  <h1>Single Album Preview Componenet</h1>
  <div class="pure-g">
    <div class="pure-u-1-3">
      <div class="album" style="background-image: url(img01.jpg)">
        <div class="album-overlay">
          <span class="album-overlay-title">Parkett Salsa</span>
          <hr />
          <div class="album-overlay-etc">2015.06.23. @SCH-FNT </div>
          <div class="album-overlay-etc">és egyéb adatok</div>
        </div>
      </div>
    </div>
   <div class="pure-u-1-3">
      <div class="album" style="background-image: url(img01.jpg)">
        <div class="album-overlay">
          <span class="album-overlay-title">Parkett Salsa</span>
          <hr />
          <div class="album-overlay-etc">2015.06.23. @SCH-FNT </div>
          <div class="album-overlay-etc">és egyéb adatok</div>
        </div>
      </div>
    </div>
    <div class="pure-u-1-3">
      <div class="album" style="background-image: url(img01.jpg)">
        <div class="album-overlay">
          <span class="album-overlay-title">Parkett Salsa</span>
          <hr />
          <div class="album-overlay-etc">2015.06.23. @SCH-FNT </div>
          <div class="album-overlay-etc">és egyéb adatok</div>
        </div>
      </div>
    </div>
    <div class="pure-u-1-3">
      <div class="album" style="background-image: url(img01.jpg)">
        <div class="album-overlay">
          <span class="album-overlay-title">Parkett Salsa</span>
          <hr />
          <div class="album-overlay-etc">2015.06.23. @SCH-FNT </div>
          <div class="album-overlay-etc">és egyéb adatok</div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
